.app_main {
    width: 100%;
    height: 100%;
}

.app_library {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 25vw);
    left: 0;
    background-color: rgb(255, 255, 229);
}

.app_cover_prev {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
    background-color: rgb(255, 167, 167);
}
.app_cover_curr {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
    background-color: rgb(152, 255, 157);
}
.app_cover_next {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
    background-color: rgb(178, 165, 255);
}

.app_queue {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 100vw);
    left: 0;
    background-color: rgb(240, 218, 255);
}
