/* ####################################### */
/*      MAIN ELEMENTS                      */
/* ####################################### */

:root {
    /* Background */
    --background: rgb(240, 240, 240);
    --text: rgb(20, 20, 20);
    --scrollbar: rgb(150, 150, 150);
}

/* ####################################### */
/*      MAIN ELEMENTS                      */
/* ####################################### */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: var(--background);
    font-family: "Segoe UI", "Roboto", "Nunito", "Helvetica Neue", sans-serif;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

input,
button {
    color: inherit;
    font: inherit;
}

#root {
    width: 100%;
    height: 100%;
}

/* ####################################### */
/*      SCROLLBAR                          */
/* ####################################### */

/* Width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--scrollbar);
    opacity: 0.2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.35;
}

/* ####################################### */
/*      ROTATION LOCK                      */
/* ####################################### */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

/* ####################################### */
/*      APP                                */
/* ####################################### */

.app_backgrounWrapper {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app_background {
    position: relative;
    display: block;
    overflow: hidden;
    height: calc(104vh + 8rem);
    width: calc(104vh + 8rem);
    margin-top: -4rem;
    margin-left: calc(50vw - calc(52vh + 2rem));
    filter: blur(2rem) brightness(10%);
    background-position: center;
    background-size: auto 100%;
}

.app_library {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 25vw);
    left: 0;
    /*background-color: rgb(255, 249, 193);*/
}

.app_cover_prev {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
    /*background-color: rgb(255, 167, 167);*/
}
.app_cover_curr {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
}
.app_cover_next {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
    /*background-color: rgb(165, 189, 255);*/
}

.app_queue {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 100vw);
    left: 0;
    /*background-color: rgb(255, 198, 252);*/
}

/* ####################################### */
/*      COVER                                */
/* ####################################### */

.cover_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.cover_image {
    position: absolute;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    border-radius: 1rem;
    filter: none;
    transition: filter 0.25s;
    pointer-events: all;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#cover_titleGradient {
    position: absolute;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
    opacity: 1;
    pointer-events: none;
}

.cover_infoWrapper {
    position: absolute;
    height: calc(25vw - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    vertical-align: middle;
}

.cover_song {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    overflow: hidden;
    pointer-events: none;
}

.cover_artist {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    pointer-events: none;
}

/* ####################################### */
/*      LIBRARY                            */
/* ####################################### */

.library_sectionsWrapper {
    position: relative;
    display: flex;
    width: 400%;
    height: calc(100% - 2.5rem);
    overflow: hidden;
    transition: left 0.2s;
}

.library_section {
    position: relative;
    margin: 0;
    width: 25%;
    height: 100%;
    padding: 0;
}

.library_navBar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    align-items: center;
}

/* ####################################### */
/*      NAV ITEM                           */
/* ####################################### */

.navItem_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: none;
    height: 2.5rem;
    padding: 0 2rem;
    background: transparent;
    opacity: 0.3;
    transition: opacity 0.1s;
    pointer-events: all;
}

.navItem_button:hover,
.navItem_buttonSelected,
.navItem_buttonSelected:hover {
    opacity: 0.9;
}

.navItem_icon {
    height: 1.5rem;
    pointer-events: none;
    user-select: none;
}
