/* ####################################### */
/*      MAIN ELEMENTS                      */
/* ####################################### */

:root {
    /* Colors */
    --background: rgb(9, 9, 9);
    --text: rgb(255, 255, 255);
    --scrollbar: rgba(150, 150, 150, 0.2);
    --green: rgb(29, 185, 84);
    --skeleton: rgba(150, 150, 150, 0.1);

    /* Colors */
    --text-main-opacity: 0.7;
    --text-low-opacity: 0.4;
    --icons-main-opacity: 0.9;
    --icons-low-opacity: 0.3;
}

/* ####################################### */
/*      MAIN ELEMENTS                      */
/* ####################################### */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: var(--background);
    font-family: "Nunito", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

input,
button {
    color: inherit;
    font: inherit;
}

#root {
    width: 100%;
    height: 100%;
}

/* ####################################### */
/*      SCROLLBAR                          */
/* ####################################### */

/* Width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--scrollbar);
}

/* ####################################### */
/*      ROTATION LOCK                      */
/* ####################################### */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

/* ####################################### */
/*      APP                                */
/* ####################################### */

.app_backgrounWrapper {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 181, 181);
}

.app_background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    height: calc(100vh + 8rem);
    width: calc(100vh + 8rem);
    margin-top: -4rem;
    margin-left: calc(50vw - calc(50vh + 4rem));
    filter: blur(0.75rem) brightness(16%);
    background-position: center;
    background-size: auto 100%;
    background-color: var(--background);
    opacity: 1;
    transition: opacity 0.5s;
}

.app_backgroundTransparent {
    opacity: 0;
}

.app_library {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 25vw);
    left: 0;
}

.app_cover_prev {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
}
.app_cover_curr {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
}
.app_cover_next {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    touch-action: none;
}

.app_queue {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 100vw);
    left: 0;
}

/* ####################################### */
/*      COVER                                */
/* ####################################### */

.cover_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.cover_image {
    position: absolute;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    border-radius: 1rem;
    filter: none;
    transition: filter 0.25s;
    pointer-events: all;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cover_image_animation 100s infinite linear;
}

.cover_image_animation_paused {
    animation-play-state: paused;
}

@keyframes cover_image_animation {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

#cover_titleGradient {
    position: absolute;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
}

.cover_infoWrapper {
    position: absolute;
    height: calc(25vw - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    vertical-align: middle;
}

.cover_song {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    overflow: hidden;
    pointer-events: none;
}

.cover_artist {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
}

/* ####################################### */
/*      LIBRARY                            */
/* ####################################### */

.library_sectionsWrapper {
    position: relative;
    display: flex;
    width: 400%;
    height: calc(100% - 2.5rem);
    overflow: hidden;
}

.library_section {
    position: relative;
    margin: 0;
    width: 25%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.library_navBar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    align-items: center;
}

/* ####################################### */
/*      NAV ITEM                           */
/* ####################################### */

.navItem_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: none;
    height: 2.5rem;
    padding: 0.5rem 2rem 0 2rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    transition: opacity 0.1s;
    pointer-events: all;
}

.navItem_button:hover,
.navItem_buttonSelected,
.navItem_buttonSelected:hover {
    opacity: var(--icons-main-opacity);
}

.navItem_icon {
    height: 1.5rem;
    pointer-events: none;
    user-select: none;
}

/* ####################################### */
/*      POPUPS                             */
/* ####################################### */

.popup_wrapper {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.popup_mainArea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 1rem);
    background-color: var(--background);
    align-items: center;
    border-radius: 1rem;
    margin: 0.5rem;
}

.popup_titleWrapper {
    position: absolute;
    z-index: 1002;
    width: 90%;
    padding: 1rem 0;
    pointer-events: none;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.popup_title {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.popup_itemList {
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1002;
    flex-grow: 1;
    margin: 3.7rem 0 0.5rem 0;
    width: 100%;
}

.popup_button {
    z-index: 1002;
    outline: 0;
    border: none;
    width: 100%;
    padding: 1rem 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
}

.popup_buttonSelected {
    z-index: 1002;
    font-weight: bold;
    color: var(--green);
}

.popup_closeArea {
    position: relative;
    width: 100%;
    flex-grow: 1;
    pointer-events: all;
}

/* ####################################### */
/*      SONGS                              */
/* ####################################### */

.songs_title {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    opacity: var(--text-main-opacity);
    pointer-events: none;
}

.songs_sortButton {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    padding: 1rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
}

.songs_sortIcon {
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.songs_listWrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.songs_shuffle {
    margin: 0.5rem auto;
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 60%;
    padding: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/* ####################################### */
/*      ALBUMS                             */
/* ####################################### */

.albums_title {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    opacity: var(--text-main-opacity);
    pointer-events: none;
}

.albums_sortButton {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    padding: 1rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
}

.albums_sortIcon {
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.albums_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}

.albums_list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.75rem;
    padding: 0;
    list-style-type: none;
}

/* ####################################### */
/*      ARTISTS                            */
/* ####################################### */

.artists_title {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    opacity: var(--text-main-opacity);
    pointer-events: none;
}

.artists_sortButton {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    padding: 1rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
}

.artists_sortIcon {
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.artists_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}

.artists_list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.75rem;
    padding: 0;
    list-style-type: none;
}

/* ####################################### */
/*      PLAYLISTS                          */
/* ####################################### */

.playlists_title {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    opacity: var(--text-main-opacity);
    pointer-events: none;
}

.playlists_sortButton {
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    padding: 1rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
}

.playlists_sortIcon {
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.playlists_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}

.playlists_list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.75rem;
    padding: 0;
    list-style-type: none;
}

/* ####################################### */
/*      SONG LIST                          */
/* ####################################### */

.songList_scroll {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.songList_list {
    position: relative;
    margin: 0 0.75rem;
    padding: 0;
    list-style-type: none;
}

/* ####################################### */
/*      ITEM SONG                          */
/* ####################################### */

.songItem_wrapper {
    position: relative;
    background: none;
    left: 0;
}

.songItem_button {
    position: relative;
    outline: 0;
    border: none;
    width: 100%;
    padding: 0.8rem;
    background: none;
    white-space: nowrap;
}

.songItem_name {
    margin: 0;
    padding: 0.1rem 0;
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.songItem_skeletonName {
    margin: 0;
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.1rem 0;
    background: var(--skeleton);
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.songItem_selectedName {
    font-weight: bold;
    color: var(--green);
}

.songItem_info {
    margin: 0;
    padding: 0.1rem 0;
    font-size: 0.8rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-low-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.songItem_skeletonInfo {
    margin: 0.5rem 0 0 0;
    border-radius: 0.5rem;
    width: 30%;
    padding: 0.1rem 0;
    background: var(--skeleton);
    font-size: 0.6rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.songItem_actionButton {
    position: absolute;
    top: 0;
    outline: 0;
    border: none;
    width: 3rem;
    height: 100%;
    padding: 0.5rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
}

.songItem_icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.songItem_icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

/* ####################################### */
/*      ITEM ALBUM ARTIST                  */
/* ####################################### */

.albumArtistItem_wrapper {
    position: relative;
    background: none;
}

.albumArtistItem_button {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: 0;
    border: none;
    width: 100%;
    background: none;
    white-space: nowrap;
    align-items: center;
}

.albumArtistItem_cover {
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.albumArtistItem_skeletonCover {
    background: var(--skeleton);
    pointer-events: none;
    user-select: none;
}

.albumArtistItem_name {
    text-align: left;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.albumArtistItem_skeletonName {
    margin: 0.5rem 25%;
    border-radius: 0.5rem;
    background: var(--skeleton);
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.albumArtistItem_selectedName {
    font-weight: bold;
    color: var(--green);
}

/* ####################################### */
/*      ITEM PLAYLIST                      */
/* ####################################### */

.itemPlaylist_button {
    position: relative;
    width: 100%;
    outline: 0;
    border: none;
    padding: 0.5rem;
    background: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.itemPlaylist_image {
    border-radius: 0.75rem;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.itemPlaylist_skeletonImage {
    border-radius: 0.75rem;
    background: var(--skeleton);
    pointer-events: none;
    user-select: none;
}

.itemPlaylist_name {
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.itemPlaylist_skeletonName {
    margin: 0;
    border-radius: 0.5rem;
    width: 50%;
    margin: 1rem;
    padding: 0.1rem 0;
    background: var(--skeleton);
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.itemPlaylist_selectedName {
    font-weight: bold;
    color: var(--green);
}

/* ####################################### */
/*      PROFILE                            */
/* ####################################### */

.profile_wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    overflow: hidden;
    top: 0;
    z-index: 500;
}

.profile_backgrounWrapper {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.profile_background {
    position: relative;
    display: block;
    overflow: hidden;
    height: calc(104vh + 8rem);
    width: calc(104vh + 8rem);
    margin-top: -4rem;
    margin-left: calc(50vw - calc(52vh + 2rem));
    filter: blur(2rem) brightness(10%);
    background-position: center;
    background-size: auto 100%;
    background-color: var(--background);
}

.profile_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile_header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
}

.profile_image {
    left: 0;
    right: 0;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.profile_name {
    margin: 2.5% 0 0 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    opacity: var(--text-main-opacity);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.profile_actionButton {
    position: absolute;
    margin: auto;
    outline: 0;
    border: none;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background: transparent;
    opacity: var(--icons-low-opacity);
    pointer-events: all;
    right: 4rem;
}

.profile_icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.profile_songs {
    position: relative;
    flex-grow: 1;
}

.profile_albums {
    margin: 1rem 0 0 0;
}

.profile_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_shuffle {
    margin: 0.5rem auto;
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 60%;
    padding: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.profile_back {
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 75%;
    padding: 1rem 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    opacity: var(--text-main-opacity);
}

/* ####################################### */
/*      HORIZONTAL LIST                    */
/* ####################################### */

.horizontalList_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 0.75rem;
    height: 100%;
}

.horizontalList_scroll {
    display: flex;
    flex-direction: row;
}
